$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #d14836;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black: #000;

$background-color: $white;
$text-color: $black;

$text-color-navbar: $white;
$text-color-navbar-hover: #999;

$sale-color: #900;